
html,
body {
	background-color: #edf0f6;
	color: #848c9a;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	height: 100vh;
	margin: 0;
}
.content
{
	text-align: center;
}

.center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.title {
	font-size: 84px;
}

.m-b-md {
    margin-bottom: 30px;
}

.links > a {
    color: #808090;
	font-family:"arial",sans-serif;
    padding: 0 25px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}